/* .parent{
    background-color: aqua;
    display: flex;
}
.child{

    background-color: blueviolet;
    border: solid black;
     width: 30px; 
    flex-basis: 40px;
    flex-wrap: wrap;
} */
/* .search-box{
    flex-grow: 3;
   flex-shrink: 1;
}
.cart{
    flex-grow: 1;
} */
.parent{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    flex: start ;
    align-items:flex-end;
}
.child{
    border: 1px solid black;
    background-color: brown;
    width: 16px;
}